@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="text-info"> Bryan Palma </h1>
    <h2 class="text-warning"> Puntos no realizados:</h2>
    <h2 class="text-danger"> * Validacion del correo</h2>
    <h2 class="text-danger"> * Asignacion de fotografia</h2>
</div>
